<div id="quote">"I thought you said Anne Frank."</div>

<div id="commentglyph">
  <span class="glyphicon glyphicon-comment img-responsive"></span>
  <%= link_to "Submit a Quote for Approval", new_quote_path, class:"btn btn-default btn-md" %>
</div>

