<div class="col-6-md">
  <h4><%= @quote.quote %></h4>
  <p>Here's a list of current quotes:</p>
  <% @quotes.each do |quote| %>
  <h2><%= link_to quote.quote, quote %></h2>
<% end %>
  <%= link_to "Home", root_path, class: "btn btn-default btn-md" %>
</div>
