<h1>About</h1>
<br />
<br />
<h3>Hi! I'm Alex. I'm a current GA WDI Map student.</h3>
<br />
<h4>Map Quote of the Day is a pet project that got started one day at lunch. Over a discussion about tupperware.</h4>
<br />
<p>This site a place for my class to remember fun moments that happened during the three-month journey we're taking to become full stack web developers. Basically Map Quote of the Day is somewhere for us to store great memories.</p>
<p>Find me on <a href="https://github.com/alexshook">GitHub</a>!</p>
